<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<title>Sign Up</title>
	</head>
	<body>
			<form action="/api/register" method="post" role="form">
				<div class="form-group">
					<label for="username">Username: </label>
					<input type="text" class="form-control" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password: </label>
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<button class="btn btn-lg btn-primary" type="submit">Login</button>
			</form>
	</body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>